// MAIN STYLING
.navbar {
    position: relative;
    z-index: 1;
    background-color: white;
}

.navbar-nav {
    text-align: center;
}

.navbar-brand {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
}

.nav-link {
    text-transform: uppercase;
    margin-right: 20px;
}


/*JUMBOTRON*/

.jumbotron {
    background-size: cover;
    color: white;
    text-align: center;
    height: 100%;
    margin-top: -75px;
    text-transform: uppercase;
    background-position: bottom;
    position: relative;
}

.jumbotron-about {
    height: 60vh;
    background-position: center center;
}

.jumbotron {
    &::after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        bottom: 0;
    }
    .container {
        margin-top: 35vh;
        position: relative;
        z-index: 1;
    }
    &.jumbotron-about .container {
        margin-top: 15vh;
    }
    .container {
        h1 {
            margin-top: 30px;
            margin-bottom: 30px;
            font-size: 3rem;
        }
        p.lead {
            font-size: 1rem;
        }
    }
}


/* link item*/

li.grid-items {
    display: inline-block;
    a.nav-link {
        color: #B75717;
        font-size: 1rem;
        font-weight: 670;
    }
}

.owl-stage {
    margin: 0 auto;
}


/* MASONRY */

.card.masonry-card {
    border-radius: 0px;
    &.card.masonry-card:hover {
        background-color: black;
        height: 100%;
        width: 100%;
    }
}

.hover-masonry {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(26, 26, 26, 0.61);
    transition: 0.3s;
    opacity: 0;
    &:hover {
        opacity: 1;
    }
}


/*Quotes*/

.quotes {
    margin-top: 40px;
    margin-bottom: 40px;
}

h1.title-quotes {
    font-size: 2rem;
    text-align: center;
    padding-top: 30px;
}

p.title-quotes.text-right {
    font-size: .8rem;
    font-style: italic;
}

.quotext.border-left {
    border-left: none !important;
    padding-top: 25px;
    padding-bottom: 25px;
}


/*blog*/

.blog {
    background-color: #F2EBF2;
    padding: 80px 0 80px 0;
}

.card {
    background-color: transparent;
    border: none;
}

.card-rebel a.rebel-link {
    color: rgb(43, 43, 43);
    font-weight: 500;
}

a.btn.btn-hover-rebel {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 0;
    font-weight: 600;
}


/* info company */

.info-company {
    padding: 40px 10px 40px 10px;
    .icon-info {
        font-size: 2rem;
    }
    a.link-info {
        color: rgb(78, 78, 78);
        &:hover {
            text-decoration: none;
        }
    }
    svg.icon-info {
        padding: 20px 0 20px 0;
    }
}

.info-text {
    display: none;
}

.bg-rebel {
    background-color: rgb(218, 216, 216);
}


/* DESKTOP STYLING CSS  */

@media (min-width: 992px) {
    .navbar {
        background-color: transparent;
        color: white;
        font-weight: bold;
        .navbar-brand {
            color: white;
        }
    }
    .navbar-light .navbar-nav .nav-link {
        color: white;
        &:hover {
            color: white;
            transition: .3s all;
            &:after {
                display: block;
                content: '';
                border-bottom: 3px solid gold;
                width: 50%;
                margin: auto;
                padding-bottom: 5px;
                margin-bottom: -8px;
            }
        }
    }
    .navbar-nav {
        text-align: right;
    }
    /* jumbotron */
    .jumbotron .container {
        h1 {
            font-size: 3.5rem;
        }
        p.lead {
            font-size: 1.25rem;
        }
    }
    /* Blog */
    .card .card-body {
        padding: 1.25rem 0 1.25rem 0;
    }
    .card-rebel img.card-img-top {
        width: 100%;
        height: 15vw;
        object-fit: cover;
    }
    a.rebel-link {
        text-decoration: none;
        &:hover {
            &:after {
                display: block;
                content: '';
                border-bottom: 3px solid goldenrod;
                width: 35%;
                padding-bottom: 5px;
                margin-bottom: -8px;
            }
        }
    }
    /*product menu*/
    div.scrollmenu {
        overflow: auto;
        white-space: nowrap;
    }
    .product-nav {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    /*quotes*/
    .quotes .padding-box-rebel {
        padding: 80px 0 80px 0;
    }
    h1.title-quotes {
        font-size: 2.3rem;
        text-align: left;
    }
    p.title-quotes.text-right {
        font-size: 1rem;
        font-style: italic;
    }
    .quotext.border-left {
        border-left: 1px solid #dee2e6 !important;
    }
    /* Info */
    .info-company .icon-info {
        font-size: 3rem;
    }
    .info-text {
        display: block;
    }
}